<nav id="nav">
  <ul>
    <%= nav_link t(:menu_home),root_path %>
    <%= nav_link t(:menu_article),articles_path %>
    <%= nav_link t(:menu_howto),howtos_path%>
    <%= nav_link t(:menu_activities),activities_path %>
  <!--   <%= nav_link t(:menu_schedual),"#" %> -->
    <%= nav_link t(:menu_therapist), root_path + '/#Therapist'%>
  <!--   <%= nav_link t(:menu_products),"#" %> -->
    <%= nav_link t(:menu_aboutus),about_index_path %>
    <li><%= render template: "/share/signin"%></li>
  </ul>
</nav>