<% @authors.each do |author| %>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
  
    <% if author.avatarimg.present? %>
      <img class="img-thumbnail" src=<%= author.avatarimg.url%> />
      <%end%>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div><h4><%= author.name%></h4></div>
    <div><p ><%= author.title%></p></div>
     <div><p ><%= author.subtitle%></p></div>
  </div>
</div>
<%end%>
<div class="card-columns">
<div class="card-deck-wrapper">
  <div class="card-deck">
  <% @authors.each do |author| %>
   
    <div class="card">
      <% if author.avatarimg.present? %>
      <img class="card-img-top" src=<%= author.avatarimg.url%> style="width:100%">
      <%end%>
      <div class="card-block">
        <h4 class="card-title"><%= author.name%></h4>
        <p class="card-text"><%= author.title%></p>
      </div>
      <div class="card-block pull-right">
        <%= link_to edit_admin_author_path(author) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
        <%= link_to admin_author_path(author), method: :delete, data: { confirm: 'Are you sure?' }  do %>
        <i class="fa fa fa-eraser" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  
  <%end%>
</div>
</div>
</div>