<% if @posts.empty? %>
<p><% t(:ntf_noposts)%></p>
<% else %>

<!-- <div class="card-deck-wrapper">
<div class="card-deck"> -->
<div class="row">
			<% @posts.each do |post| %>
			<div class="col-xs-12 col-sm-6 col-md4">
			<div class="card " >
				<div class="card-header">
					<div class="pull-right">
							<%= link_to edit_admin_post_path(post) ,:class=>"btnaction" do %>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							<% end %>
							<%= link_to admin_post_path(post),:class=>"btnaction", method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fa fa-times-circle-o" aria-hidden="true"></i>
							<% end %>
					</div>
				</div>
				<%= link_to admin_post_path(post) ,:class => "image fit" do%>
				
				<% if post.cover_img.present? %>
				<%= image_tag post.cover_img.url, :class =>"card-img-top imp-fluid" %>
				<% end%>
				<% end %>
				<div class="card-block">
					<%= link_to admin_post_path(post) do%> 
					<h4 class="card-title"><%= post.title%></h4>
					<%end%>
					<p class="card-text"><%= post.subtitle%></p>
				</div>
				<div class="card-block ">
					<div class="row">
						<div class="col-xs-12">
							<p class="card-text pull-right"><small class="text-muted"><%= getLastUpdate(post.updated_at)%></small></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<i class="fa fa-bookmark-o" aria-hidden="true"></i>
							<span><%= PostCategory.find(post.post_category_id).name %></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<%= render partial: "admin/posts/tags",  :locals => {:tags => post.tags} %>
						</div>
					</div>
				</div>
			</div>
			</div>
			<%end%>
</div>
<!-- </div>
</div> -->
<% end %>