<article class="uni-blog-article" >
  <% unless @post.cover_img.blank?%>
  <div class="img cover">
   <%=image_tag @post.cover_img.url,:class=>"img-responsive center-block" %>
 </div>
 <%end%>
 <header>
  <div class="content"> 
    <h2><%= @post.title %></h2>
    <p><%= @post.subtitle %></p>
    <div class="row">
      <div class="col-xs-6">
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
       <span><%= PostCategory.find(@post.post_category_id).name %></span>
       <%= render partial: "admin/posts/tags",  :locals => {:tags => @post.tags} %>
     </div>
     <div class="col-xs-6">
      <p class="pull-right"><%= getLastUpdate(@post.updated_at)%></p>
    </div>
  </div>
</div> 
</header>
<section >
  <%= @post.content.html_safe %>
  <div class="pull-right"> 

    <%= FacebookOpenGraph.clear_cache(post_url(@post.id))%>
    <%= social_share_button_tag(@post.title,:image => @post.cover_img.url,:desc =>@post.subtitle) %>
  </div>
</section>
</article>