<div class="card-columns">
	<div class="card-deck-wrapper">
		<div class="card-deck">
			<% @ckeditor_pictures.each do |pic| %>
<div class="row ">
				    <div class="col-xs-12">
						<div class="pull-left" style="margin-left: 4px">

							<%= check_box("collection_selection","",  { class: 'collection_selection' }, pic.id)%>

						</div>
						<div class=" pull-right">
							<%= link_to edit_admin_ckeditor_picture_path(pic) do %>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							<% end %>
							<%= link_to admin_ckeditor_picture_path(pic), method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fa fa fa-eraser" aria-hidden="true"></i>
							<% end %>
						</div>
					</div>
				</div>
			<div class="card card-inverse" style="margin-bottom:10px">
				
				<img class="card-img" src=<%= pic.data%>  style="width:100%">
				<div class="card-img-overlay">
					
					<p class="card-text"><%= pic.created_at.strftime("Uploaded on %m/%d/%Y at %I:%M%p")%></p>
				</div>
				<div class="card-block">
				</div>
				

			</div>
			<%end%>
		</div>
	</div>
</div>