	<!-- Main -->
	<div class="wrapper style2">

		<article id="main" class="container special">
			<a href="#" class="image featured"><img src=<%= post.cover_img.url%>  /></a>
			<header>
				<h2><%= link_to post.title , post_path(post) %></h2>
				<p>
					<%=post.subtitle%>
				</p>
			</header>
			<p>
				<% content=strip_tags(post.content)%>
				<% if content.size <= 800%>
					<%=content.html_safe %>
				<%else%>
					<p><%= '%1.800s...'%content.html_safe %></p>
				<%end%>
			</p>
			<%= link_to t(:article_continue) , post_path(post), :class =>"button" %>
		</article>

	</div>