<div class="card">
 <%= link_to post_path(post) ,:class=>'image fit mainscroll' do%>
  <img class="card-img-top"  src=<%= post.cover_img.url%> alt="<%= post.title%>" />
  <%end%>
  <div class="card-block">
    <h4 class="card-title"><%= link_to post.title , post_path(post)%> </h4>
    <p class="card-text">
    <% if post.subtitle.size <= 120  %>
		<p><%=post.subtitle%></p>
	<%else%>
		<p><%= '%1.120s...'%post.subtitle %></p>
	<%end%>
	</p>
	<p class="card-text">
		<small class="text-muted"> <%= getLastUpdate(post.updated_at)%></small>
	</p>
	<%= link_to t('article.continue'), post_path(post)%>
  </div>
</div>