<!DOCTYPE html>
<html>
  <head>
    <title>Artbyheart</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="no-sidebar">
    <div id="header" ></div>
    <!-- Nav -->
    <%= render :template=> 'share/menu'%>
    <!-- body -->
    <%= yield %>
    <!-- footer -->
    <%= render  template: 'share/footer' %>
    <div id="modal-holder"></div> 
    <%= javascript_tag do %>
      if (window.opener != null){
      window.opener.location = '';
      }
      window.close();
    <% end %>
  </body>
</html>
